In [1]:
print()

In [2]:
print("welcome to HOPE AI")

welcome to HOPE AI

In [3]:
print{"1234567890")

SyntaxError: closing parenthesis ')' does not match opening parenthesis '{' (2641848698.py, line 1)

In [5]:
print("1234567890")

1234567890

In [6]:
Print("hello") #case sensitive

NameError: name 'Print' is not defined

In [7]:
##variables
it holds value
= assignment operator

In [8]:
num1=10
num2=20
add=num1+num2

In [9]:
add

30

In [10]:
num1=10
num2=20
add=num1+num2
print("add")
print(add)

add
30

In [1]:
First Name = ("Hello World") #no space

SyntaxError: invalid syntax (1211621083.py, line 1)

In [3]:
First_Name = ("Hello World")
print(First_Name)

Hello World

In [4]:
FirstName = ("Hello World")
print(First_Name)

Hello World

In [5]:
firstName = ("Hello World")
print(First_Name)

Hello World

In [6]:
First2Name = ("Hello World")
print(First_Name)

Hello World

In [7]:
2first_Name = ("Hello World") #no number in first place of variable assigning name
print(First_Name)

SyntaxError: invalid decimal literal (4051273978.py, line 1)

In [8]:
## Output customer requested
# The Addition of two numbers
# The number1 :10
# The number2 :20
# The answer : 30

#Code1
print("The Addition of two numbers")
num1=10
print("The number1 :",num1)
num2=20
print("The number2 :",num2)
print("The answer :",num1+num2)

The Addition of two numbers
The number1 : 10
The number2 : 20
The answer : 30

In [9]:
#Code2
num1=10
num2=20
print("The Addition of two numbers")
print("The number1 :",num1)
print("The number2 :",num2)
print("The answer :",num1+num2)

The Addition of two numbers
The number1 : 10
The number2 : 20
The answer : 30

In [10]:
#Code3
num1=10
num2=20
add=num1+num2
print("The Addition of two numbers")
print("The number1 :",num1)
print("The number2 :",num2)
print("The answer :",add)

The Addition of two numbers
The number1 : 10
The number2 : 20
The answer : 30

In [11]:
# input statement
#will get input values or string from user
# input("Enter the last month salary") #the typed answer from user will be considered as string
# input("Enter the num1") #string

#int(input("Enter the num1")) #will consider as integer

In [12]:
input("Enter the num1") #string

Enter the num1 1

'1'

In [13]:
int(input("Enter the num1")) #integer

Enter the num1 45

45

In [14]:
#define and call to action
num1=int(input("Enter the num1 :"))
num2=int(input("Enter the num2 :"))
add=num1+num2 #print not defined

Enter the num1 : 20
Enter the num2 : 40

In [15]:
print(add)

60

In [16]:
#define and call to action
#integer
num1=int(input("Enter the num1 :"))
num2=int(input("Enter the num2 :"))
add=num1+num2 
print(add)

Enter the num1 : 20
Enter the num2 : 40

60

In [17]:
#define and call to action
#string
num1=(input("Enter the num1 :") #error in open paranthesis 
num2=input("Enter the num2 :")
add=num1+num2 
print(add)

SyntaxError: '(' was never closed (1673941186.py, line 3)

In [18]:
#define and call to action
#string
num1=input("Enter the num1 :") #when the input value is not defined as integer it will be considered as string
num2=input("Enter the num2 :")
add=num1+num2 
print(add)

Enter the num1 : 30
Enter the num2 : 40

3040

In [19]:
# error
#1.Name error
#2. Syntax error
2num=30

SyntaxError: invalid decimal literal (1891298313.py, line 4)

In [20]:
num1=input("Enter the num1 :") 
num2=input("Enter the num2 :")
add=num1+num #name error is spelling mistake or the new variable entered is not defined
print(add)

Enter the num1 : 20
Enter the num2 : 40

NameError: name 'num' is not defined

In [21]:
num1=int(input("Enter the num1 :") #error in coding, error in paranthesis or close bracket

SyntaxError: incomplete input (597478084.py, line 1)

In [23]:
#value error
num1=int(input("Enter the name:")) #code is for extracting value but the input is in string

Enter the name: Aishwarya

ValueError: invalid literal for int() with base 10: 'Aishwarya'

In [24]:
num1=int(input("Enter the num:"))

Enter the num: 20